﻿<div class="row">

    <div>

        <div class="alert alert-dismissable alert-info">full list {{names}}</div>
        <div data-ng-repeat="i in names" class="col-md-3">
            <h2>Welcome {{i.username}}</h2>
            <br />
            First Name: {{i.firstname}}<br />
            Last Name: {{i.lastname}}<br />
            From the server: {{quickvar2}}
            <br />
            Encrypted string "apple": {{passwordSecret}}<br />
            Decrypted: {{password}}
            <hr />
        </div>
        <div class="col-lg-4" data-ng-repeat="c in cust">
            <h1>{{c.title}}</h1>
            <p>{{decode(c.content)}}</p>
        </div>
    </div>

</div><div class="row">



          <div class="col-md-3" ng-controller="personController">
              <p>Try to change the names.</p>
              First Name:
              <input type="text" ng-model="firstName"><br>
              Last Name:
              <input type="text" ng-model="lastName"><br>
              <br>
              Full Name: {{firstName + " " + lastName}}
             

          </div></div>

<footer class="container-fluid" data-toggle="collapse">
    &copy; Dustin Massingale 2014.
</footer>


