﻿<style type="text/css">
    body {
        background-color: gainsboro;width: 100%;
    }
</style>

    <div class="alert alert-danger">Please log in to continue.</div>

    <form id="login" class="form-horizontal" action="/api/v1/base.php?method=login&return=/#/home" method="POST">
        <fieldset style="max-width: 300px; margin: 5px auto; padding: 2em; border: 2px solid black; background-color: whitesmoke; -moz-border-radius: 10px; -ms-border-radius: 10px; border-radius: 10px;">
            <div class="row">
                <div class="col-sm-12" style="text-align: center;">
                    <b>Log in Form</b>
                </div>
                
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <label for="name" class="control-label">Username</label>
                </div>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="name" name="name" required />
                </div>

            </div>
            <div class="row">
                <div class="col-sm-4">
                    <label for="inputPass" class="control-label">Password</label>
                </div>
                <div class="col-sm-8">
                    <input id="inputPass" class="form-control" type="password" required />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12" style="text-align: right;">
                    <br />
                    <button onclick="javascript: login();" class="btn btn-primary">Login</button><button type="reset" class="btn btn-default">Cancel</button>

                </div>
            </div>
            <input id="encrypted" type="hidden" name="pass" />
        </fieldset>
        <br />

    </form>

<script>
    function login() {
        //get password
        var password = $('#inputPass').val();
        var key = $('#name').val();
        var encrypted = $.rc4EncryptStr(password, key+globe.token);
        $('#encrypted').val(encrypted);
    }
</script>