<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" data-ng-app="costumizer">
<head>
    <title></title>
    <link href="../Content/themes/base/all.css" rel="stylesheet" />
    <link href="../Content/bootstrap.min.css" rel="stylesheet" />
    <link href="../Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="../Content/jquery-cleditor-1.4.5.css" rel="stylesheet" />
    <!-- Allow global variables -->
    <script src="./Scripts/jquery-1.11.3.min.js"></script>
    <script src="./js/globalVars.js.php"></script>

</head>
<body>

<div data-ng-controller="indexController">
    <div class="navbar navbar-inverse">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">{{appName}}</a>
        </div>

        <div class="navbar-collapse collapse navbar-inverse-collapse">
            <ul class="nav navbar-nav">
                <!--<li class="active"><a href="#">Active</a></li>-->
                <li class="num-templates" data-ng-repeat="j in cust" data-showthis="{{j.show}}" style="display: none;"><a  href="#/templates/{{j.id}}">{{j.title}}</a></li>

            </ul>
            <!-- <form class="navbar-form navbar-left">
                <input class="form-control col-lg-8" placeholder="Search" type="text">
            </form>-->
            <!-- for signed in users -->
            <ul class="nav navbar-nav navbar-right">
                <li id="loginLink"><a href="#/login">Login</a></li>
                <li id="logoutLink"><a href="/api/v1/base.php?method=logout">Logout</a></li>

                <!-- for admin users -->
                <li class="dropdown" id="adminControlls" style="display: none;">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown">Administration <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#/panel/content">Manage Content</a></li>
                        <li><a href="#/panel/users">Manage Users</a></li>
                        <li><a href="#/panel/analyze">Usage and Analytics</a></li>
                        <li class="divider"></li>
                        <li><a href="http://www.dustinmassingale.com" target="_top">Contact Provider</a></li>
                    </ul>
                </li>
            </ul>
        </div>

    </div>
    <span id="contentIncluder"></span>
    <div data-ng-view=""></div>

</div>
            
    <script src="./Scripts/angular.min.js"></script>
    <script src="./Scripts/angular-route.min.js"></script>
    <script src="./Scripts/jquery-ui.min-1.11.1.js"></script>
    <script src="./Scripts/bootstrap.min.js"></script>
    <script src="./js/jquery-rc4crypt.min.js"></script>
    <script src="./js/home-controller.js"></script>

<script>
    $(function () {
            
        setTimeout(function() {
            $('[data-showthis="on"]').show();
        }
            , 250);
       
    });
    
</script>

</body>
</html>


